@import "styles/breakpoints";

.component {
  color: var(--wpe--header--color);
  background-color: var(--wpe--header--background--color);
  position: relative;
  width: 100vw;
  padding: 0.516rem 1rem;
  border-bottom: 0.05rem solid var(--wpe--color--grey);
  z-index: 1000;

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    // additional styling for sticky header
  }

  @media (min-width: $breakpoint-extra-small) {
    padding: 1.141rem 1rem;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0 auto;
  justify-content: space-between;
  gap: 1rem;

  @media (min-width: $breakpoint-extra-small) {
    max-width: var(--wpe--container--max--width);
  }
}

.button-header {
  font-weight: 700;
  width: 10rem;
  display: none;
  text-transform: uppercase;

  @media (min-width: $breakpoint-extra-small) {
    display: flex;
    justify-content: flex-start;
  }

  a {
    color: var(--wpe--color--black);

    &:hover {
      font-weight: 800;
    }
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.brand {
  width: 7.5rem;
  height: 2rem;
  position: relative;

  @media (min-width: $breakpoint-extra-small) {
    width: 14rem;
  }

  img {
    height: 1.3rem;
    object-fit: contain;

    @media (min-width: $breakpoint-extra-small) {
      height: 1.6rem;
    }

    @media (min-width: $breakpoint-medium) {
      height: 1.8rem;
    }
  }
}

.logo {
  text-decoration: none;
}

.menu-button {
  width: 10rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  button svg {
    height: 2rem;

    &:hover path {
      stroke-width: 3px;
    }
  }
}

.close-button {
  width: 10rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  button svg {
    height: 2.5rem;

    &:hover path {
      stroke-width: 4px;
    }
  }
}

.main-menu {
  display: none;
  width: 100%;

  &.show {
    display: block;
  }
}

.menu-icon {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.close-icon {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.full-menu-wrapper {
  display: none;
  width: 100vw;
  position: sticky; /* Change position to sticky */
  top: 0; /* Stick to the top */
  z-index: 51;
  background-color: var(--wpe--main--background--color);
  color: var(--wpe--color--black);
  margin: 0 auto;
  height: calc(-3.563rem + 100vh);

  @media (min-width: $breakpoint-extra-small) {
    height: calc(-4.813rem + 100vh);
  }

  &.show {
    display: block;
    padding: 0;
    gap: 1rem;
    transition: top 0.4s ease-in-out;
    top: 4.531rem; /* Adjust the top value as needed */

    @media (min-width: $breakpoint-extra-small) {
      top: 7.55rem;
    }
  }

  &.sticky {
    position: fixed;
    top: 3.563rem;
    left: 0;
    width: 100%;
    z-index: 1000;
    @media (min-width: $breakpoint-extra-small) {
      top: 4.813rem;
    }
  }
}

.navigation-wrapper {
  width: 100vw;
  position: relative;
  z-index: 50;
  display: none;

  @media (min-width: $breakpoint-medium) {
    display: block;
  }
}

.navigation-menu {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.04rem;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0.25rem 0;

  @media (min-width: $breakpoint-extra-small) {
    max-width: var(--wpe--container--max--width);
  }

  ul {
    display: flex;
    justify-content: space-evenly;

    li {
      width: auto;

      a:hover {
        font-weight: 700;
      }

      ul li {
        border-bottom: 1px solid var(--wpe--color--grey);
      }
    }
  }
}
