@import "styles/breakpoints";

.component {
  width: 100vw;
  padding: 1rem 0;

  @media (min-width: $breakpoint-extra-small) {
    width: 50%;
  }

  @media (min-width: $breakpoint-medium) {
    width: 40%;
  }
}
