@import "styles/breakpoints";

.component {
  line-height: normal;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem 1rem;
  position: relative;
  z-index: 1;
  background-color: var(--wpe--color--white);

  @media (min-width: $breakpoint-medium) {
    padding: 0 0 1rem;
  }

  div {
    position: relative;
    z-index: 1;
    background-color: var(--wpe--color--white);
  }

  :global {
    // Scope WordPress block styles within ContentWrapper.
    @import "styles/blocks";

    * {
      max-width: 100%;
      line-height: 1.5rem;
    }

    figure {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 2rem;
      margin-top: 2rem;
    }

    // img need to have margin too

    figcaption {
      padding: 0.5rem 0 0.25rem;
      font-size: 0.9rem;
      font-weight: 300;
      line-height: normal;
      border-bottom: 1px solid var(--wpe--color--grey);

      small {
        line-height: normal;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: normal;
      margin-bottom: 1rem;
    }

    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.75rem;
    }

    h3 {
      font-size: 1.5rem;
    }

    h4 {
      font-size: 1.25rem;
    }

    h5 {
      font-size: 1.1rem;
    }

    p {
      margin-bottom: 1rem;
    }

    strong {
      font-weight: 700;
    }

    a {
      text-decoration: underline;

      &:hover,
      &:focus {
        color: var(--wpe--link--color);
        text-decoration: underline;
      }
    }

    img {
      display: block;
      height: auto;
      max-width: 100%;
    }

    .alignleft {
      display: inline;
      float: left;
      margin-right: 1.5em;
    }

    .alignright {
      display: inline;
      float: right;
      margin-left: 1.5em;
    }

    .aligncenter {
      clear: both;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    code,
    pre {
      color: var(--color-white);
      background: var(--color-black);
    }

    code {
      padding: 0.25rem 0.5rem;
    }

    pre {
      max-width: 100%;
      overflow: auto;
      padding: 1rem;
    }

    blockquote {
      border-top: 1px solid var(--color-black);
      border-bottom: 1px solid var(--color-black);
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
      padding: 4rem 1rem 4rem;
      text-align: center;

      &::before {
        content: "“";
        display: block;
        font-size: 6rem;
        line-height: 0;
        margin: 0;
      }

      > *:last-child {
        margin-bottom: 0;
      }

      p {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: normal;
      }
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    thead th {
      border-bottom: 1px solid var(--wpe--color--border);
      padding-bottom: 0.5em;
    }

    th {
      padding: 0.4rem 0;
      text-align: left;
    }

    tr {
      border-bottom: 1px solid var(--wpe--color--border);
    }

    td {
      padding: 0.4em;
    }
  }
}

.tag-wrapper {
  display: flex;
  position: relative;
  z-index: 3;
  background: var(--wpe--color--white);
  padding: 0 1rem 3rem;
  font-size: 0.8rem;

  @media (min-width: $breakpoint-medium) {
    padding: 0 0 4rem;
  }
}

.tag-title {
  width: fit-content;
  text-transform: uppercase;
  min-width: 6.5rem;
  padding-right: 0.5rem;
}

.tag-name-wrapper {
  display: flex;
  gap: 0.3rem;
  flex-wrap: wrap;
  color: var(--wpe--color--red);
}
