@import "styles/breakpoints";

.loading-wrapper {
  @apply mx-auto my-0 flex max-w-[100vw] justify-center lg:max-w-[1024px];
  position: relative;
  z-index: 2;
  background-color: var(--wpe--color--white);
}

.component {
  color: var(--wpe--color--black);
  padding-top: 2.5rem;
  width: 100%;
  font-family: var(--font--inter);
  position: relative;
  z-index: 2;
  background-color: var(--wpe--color--white);
}

.container-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 0 0.5rem;
  position: relative;
}

.navbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--wpe--main--background-color);
}

.navbar-wrapper {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
  align-items: flex-start;
  flex-direction: column;

  @media (min-width: $breakpoint-medium) {
    padding: 0;
    max-width: var(--wpe--container--max--width);
  }
}

.parent-nav-wrapper {
  padding: 0.25rem 0 0.25rem;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 800;

  @media (min-width: $breakpoint-medium) {
    padding: 0.5rem 0 0.5rem;
    font-size: 2rem;
    max-width: var(--wpe--container--max--width);
  }
}

.border-divider {
  border: 1px solid var(--wpe--color--grey);
  width: 100%;
}

.navigation-wrapper {
  padding: 0.25rem 0 0;
  display: flex;
  row-gap: 0.25rem;
  column-gap: 1rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-direction: row;

  @media (min-width: $breakpoint-medium) {
    padding: 0.5rem 0 0;
    row-gap: 0.5rem;
    column-gap: 2rem;
  }
}

.nav-link {
  display: flex;

  .active,
  &:hover,
  &:focus {
    .nav-name {
      font-weight: 700;
    }
  }
}

.nav-name {
  font-size: 0.65rem;
  font-weight: 200;
  text-transform: uppercase;

  @media (min-width: $breakpoint-medium) {
    font-size: 1rem;
  }
}
