@import "styles/breakpoints";

.component {
  display: block;
  justify-content: center;
  padding: 1rem;
  background-color: var(--wpe--color--light--grey);
  width: fit-content;
}

.half-page-wrapper {
  width: 300px;
  height: 600px;

  position: relative;

  .banner {
    width: 300px;
    height: 600px;
    
    display: block;
    object-fit: contain;
    object-position: left;
    background-color: black;
  }
}
