@import "styles/breakpoints";

$color-grey: #777;

.component {
  background-color: var(--wpe--main--background-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem 1rem 7rem;
  height: calc(-10rem + 100vh);
  overflow: auto;
  margin: 0 auto;

  @media (min-width: $breakpoint-extra-small) {
    padding: 1rem 1rem 5rem;
    align-items: center;
    height: calc(-15rem + 100vh);
    max-width: 700px;
  }
}

.content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 1rem;
  padding-bottom: 2rem;
  justify-content: center;
}

.left-wrapper {
  width: 7rem;

  @media (min-width: $breakpoint-extra-small) {
    width: 12rem;
  }
}

.right-wrapper {
  width: 70%;
}

.wrapper-image {
  margin: 0 auto;
  padding: 0;
  display: flex;

  figure {
    width: 100%;
    height: 7rem;
    position: relative;

    @media (min-width: $breakpoint-extra-small) {
      height: 12rem;
    }

    span,
    img {
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
    }
  }
}

.title {
  font-family: "Inter";
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 500;

  @media (min-width: $breakpoint-extra-small) {
    font-size: 1.5rem;
  }
}

.meta-wrapper {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 0.5rem;
  row-gap: 0.3rem;
  line-height: 1;

  @media (min-width: $breakpoint-extra-small) {
    column-gap: 2rem;
    row-gap: 0.5rem;
  }

  * {
    font-family: "Inter";
    font-weight: 500;
    font-size: 0.6rem;

    @media (min-width: $breakpoint-extra-small) {
      font-size: 0.8rem;
    }
  }
}

.icon-wrapper {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  font-family: "Inter";
  font-weight: 500;
  row-gap: 0.3rem;

  @media (min-width: $breakpoint-extra-small) {
    row-gap: 0.5rem;
  }

  div {
    padding: 0;
  }

  span {
    font-size: 0.6rem !important;

    @media (min-width: $breakpoint-extra-small) {
      font-size: 0.8rem !important;
    }
  }

  figure {
    width: 0.6rem !important;
    height: 0.6rem !important;

    @media (min-width: $breakpoint-extra-small) {
      width: 0.8rem !important;
      height: 0.8rem !important;
    }
  }
}

.meta {
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 0.6rem;

  @media (min-width: $breakpoint-extra-small) {
    font-size: 0.8rem;
  }
}

.result {
  display: flex;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  height: auto;
  flex-direction: column;
  position: relative;
  row-gap: 0.3rem;

  @media (min-width: $breakpoint-extra-small) {
    row-gap: 0.5rem;
  }

  p {
    font-family: "Inter";
    font-weight: 500;
    font-size: 0.65rem;

    @media (min-width: $breakpoint-extra-small) {
      font-size: 0.95rem;
    }
  }

  .more-link {
    font-family: "Inter";
    font-weight: 700;
    font-size: 0.65rem;

    @media (min-width: $breakpoint-extra-small) {
      font-size: 0.95rem;
    }
  }
}

.no-results {
  text-align: center;
  color: $color-grey;
  background-color: var(--wpe--main--background-color);
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  height: calc(-7rem + 100vh);
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $breakpoint-extra-small) {
    padding: 0 2rem;
    height: calc(-11rem + 100vh);
  }
}

.no-results-icon {
  font-size: 6rem;
}

.no-results-text {
  font-size: 3rem;
}
