@import "styles/breakpoints";

.loading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 20vh;
}

.loading-icon {
  color: transparent;
  border: 0.3rem solid var(--wpe--color--light--grey);
  border-top: 0.3rem solid transparent;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.component {
  background-color: transparent;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 1000;
  position: relative;
}

.full-menu-content {
  display: flex;
  width: 100%;
  padding: 1rem 1rem 2rem;
  transition: transform 0.1s ease-out;
  transition: top 0.4s ease-in-out;
  flex-direction: column;
  height: calc(-4.531rem + 100vh);

  @media (min-width: $breakpoint-extra-small) {
    max-width: var(--wpe--container--max--width);
    height: auto;
  }

  * {
    text-transform: uppercase;
    font-size: 1rem;

    @media (min-width: $breakpoint-extra-small) {
      font-size: 1.25rem;
    }
  }

  a {
    border-bottom: 1px solid var(--wpe--color--grey);
  }

  .menu-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    @media (min-width: $breakpoint-extra-small) {
      max-width: var(--wpe--container--max--width);
      margin: 0 auto;
    }

    ul {
      font-size: 1rem;

      @media (min-width: $breakpoint-extra-small) {
        font-size: 0.7rem;
      }
    }
  }

  .first-wrapper {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    // border: 0.5rem solid var(--wpe--main--background--color);
    // background-color: var(--wpe--color--light--grey);

    .image-wrapper {
      position: relative;
      width: 8rem;
      height: 10rem;

      @media (min-width: $breakpoint-extra-small) {
        width: 11rem;
        height: 14rem;
      }
    }

    @media (min-width: $breakpoint-extra-small) {
      width: 11.5rem;
    }
  }

  // Primary Menu
  .second-wrapper {
    display: block;
    width: 50%;
    padding: 0.5rem;

    @media (min-width: $breakpoint-extra-small) {
      width: 11.5rem;
    }

    .primary-navigation {
      ul {
        position: static;
        display: grid;
        grid-template-columns: 100%;
        justify-items: start;
      }
    }
  }

  // Secondary Menu
  .third-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0.5rem;

    @media (min-width: $breakpoint-extra-small) {
      width: 11.5rem;
    }

    .secondary-navigation {
      ul {
        position: static;
        display: grid;
        grid-template-columns: 100%;
        justify-items: start;
        font-weight: 600;
      }
    }
  }

  // Third Menu
  .fourth-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0.5rem;
    justify-content: flex-start;
    gap: 1rem;

    @media (min-width: $breakpoint-extra-small) {
      width: 11.5rem;
    }

    .third-navigation {
      ul {
        position: static;
        display: grid;
        grid-template-columns: 100%;
        justify-items: start;
      }
    }

    .socmed-wrapper {
      padding: 0.5rem;
      padding-left: 0;

      svg {
        width: 10rem;

        @media (min-width: $breakpoint-extra-small) {
          width: 12rem;
        }
      }
    }
  }
}

.search-button {
  cursor: pointer;
  width: 100%;
}

%visible {
  visibility: visible;
  opacity: 1;
}

%hidden {
  // Always visible for smaller viewports.
  @media (min-width: $breakpoint-extra-small) {
    visibility: hidden;
    opacity: 0;
  }
}

.menu {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  position: relative;
  gap: 0.5rem;

  li {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    flex-direction: column;

    @media (min-width: $breakpoint-extra-small) {
      flex-direction: row;
    }

    &:focus-within ul,
    a:hover + ul,
    a:focus + ul {
      @extend %visible;
    }
  }

  a {
    color: var(--wpe--navigation--menu--color);
    padding: 0.5rem;
    display: block;
    transition: all 0.2s ease-out;
    width: 100%;
    white-space: nowrap;
    text-align: left;
    padding-left: 0;

    &:hover,
    &:focus {
      font-weight: 700;
    }

    // Remove link underline when component is inside header.
    header & {
      text-decoration: none;
    }
  }

  li ul {
    @extend %hidden;
    background-color: var(--wpe--dropdown--background--color);
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;

    @media (min-width: $breakpoint-extra-small) {
      position: absolute;
      left: -2rem;
      top: 100%;
      text-align: left;
      box-shadow: var(--wpe--shadow--large);
      padding: 0.75rem;
      transition: all 0.2s ease-out;
      width: inherit;
      border: var(--wpe--border--extra--light);
    }

    &:hover {
      @extend %visible;
    }

    li + li {
      @media (min-width: $breakpoint-extra-small) {
        border-top: var(--wpe--border--light);
        margin-top: 3px; // Make room for default browser focus styles.
      }
    }
  }
}

// Search Bar
.search-bar-wrapper {
  display: none;
  width: 100vw;
  position: absolute; /* Change position to sticky */
  top: 0; /* Stick to the top */
  z-index: 51;
  background-color: var(--wpe--main--background--color);
  color: var(--wpe--color--black);
  margin: 0 auto;

  &.show {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    transition: top 0.4s ease-in-out;
    top: 0;
    height: calc(-4.531rem + 100vh);
    align-items: flex-start;

    @media (min-width: $breakpoint-medium) {
      height: 20rem;
    }
  }

  * {
    text-transform: uppercase;
    font-size: 1rem;

    @media (min-width: $breakpoint-extra-small) {
      font-size: 1.25rem;
    }
  }

  a {
    border-bottom: 1px solid var(--wpe--color--grey);
  }

  .search-input-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;

    @media (min-width: $breakpoint-medium) {
      max-width: var(--wpe--container--max--width);
    }
  }

  .search-result-wrapper {
    position: absolute;
    display: grid;
    background-color: var(--wpe--main--background--color);
    top: 4rem;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    width: 100vw;
    text-align: left;
    padding: 0;
    justify-content: center;

    @media (min-width: $breakpoint-medium) {
      padding: 0 1rem;
    }

    .alert-error {
      color: var(--wpe--color--red);
      text-align: center;
    }
  }
}
