@import "styles/breakpoints";

.component {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5rem;
  row-gap: 1rem;
  padding: 2rem 0;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $breakpoint-small) {
    flex-direction: row;
  }

  @media (min-width: $breakpoint-medium) {
    max-width: var(--wpe--container--max--width);
  }
}
