@import "styles/breakpoints";

.component {
  line-height: normal;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem 3rem;

  @media (min-width: $breakpoint-medium) {
    padding: 0 0 4rem;
  }

  :global {
    // Scope WordPress block styles within ContentWrapper.
    @import "styles/blocks";

    * {
      max-width: 100%;
      line-height: 1.5rem;
    }

    figure {
      margin-left: 0;
      margin-right: 0;
    }

    figcaption {
      padding: 0.5rem 0 0.25rem;
      font-size: 0.9rem;
      font-weight: 300;
      line-height: normal;
      border-bottom: 1px solid var(--wpe--color--grey);

      small {
        line-height: normal;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: normal;
      margin-bottom: 1rem;
    }

    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.75rem;
    }

    h3 {
      font-size: 1.5rem;
    }

    h4 {
      font-size: 1.25rem;
    }

    h5 {
      font-size: 0.9rem;
    }

    p {
      margin-bottom: 1rem;
    }

    strong {
      font-weight: 700;
    }

    a {
      text-decoration: underline;

      &:hover,
      &:focus {
        color: var(--wpe--link--color);
        text-decoration: underline;
      }
    }

    img {
      display: block;
      height: auto;
      max-width: 100%;
      margin-bottom: 2rem;
      min-width: 12rem;
    }

    .alignleft {
      display: inline;
      float: left;
      margin-right: 1.5em;
    }

    .alignright {
      display: inline;
      float: right;
      margin-left: 1.5em;
    }

    .aligncenter {
      clear: both;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    code,
    pre {
      color: var(--color-white);
      background: var(--color-black);
    }

    code {
      padding: 0.25rem 0.5rem;
    }

    pre {
      max-width: 100%;
      overflow: auto;
      padding: 1rem;
    }

    blockquote {
      border-top: 1px solid var(--color-black);
      border-bottom: 1px solid var(--color-black);
      font-style: italic;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
      padding: 4rem 1rem 4rem;
      text-align: center;

      &::before {
        content: "â€";
        display: block;
        font-size: 6rem;
        line-height: 0;
        margin: 3rem 0;
      }

      > *:last-child {
        margin-bottom: 0;
      }
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    thead th {
      border-bottom: 1px solid var(--wpe--color--border);
      padding-bottom: 0.5em;
    }

    th {
      padding: 0.4rem 0;
      text-align: left;
    }

    tr {
      border-bottom: 1px solid var(--wpe--color--border);
      display: flex;
      flex-direction: column;
      padding: 1rem 0;

      @media (min-width: $breakpoint-medium) {
        flex-direction: row;
        column-gap: 1rem;
      }
    }

    td {
      padding: 0.5rem 0;
    }

    ol {
      margin-bottom: 1rem;
    }

    // subscribe page
    .digital-magazine-logo {
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      padding: 1rem 0;
      gap: 1rem;

      @media (min-width: $breakpoint-medium) {
        gap: 3rem;
        padding: 1rem;
      }

      .column {
        flex: 1;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          min-width: 10rem;
          height: 5rem;
          max-width: 100%;
          object-fit: contain;
          margin-bottom: 0;

          @media (min-width: $breakpoint-medium) {
            height: 6rem;
          }
        }
      }
    }

    .border-wrapper {
      width: 100%;
      padding: 1rem 1rem 2rem;
      margin: 0 auto;

      @media (min-width: $breakpoint-medium) {
        padding: 1rem 0 2rem;
        max-width: var(--wpe--container--max--width);
      }
    }

    .border {
      border-bottom: 1px solid var(--wpe--color--grey);
    }

    .wpforms-field {
      gap: 1rem;
      padding: 1rem 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      @media (min-width: $breakpoint-medium) {
        align-items: baseline;
      }

      ul {
        flex: 2;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        li {
          font-size: 1rem;
          display: flex;
          gap: 0.5rem;
          flex-wrap: nowrap;
          align-items: center;

          input {
            border-radius: 0;
          }

          input[type="radio"] {
            display: none;
          }

          input[type="radio"] + label::before {
            content: "";
            display: inline-block;
            width: 1rem;
            height: 1rem;
            border: 1px solid var(--wpe--color--grey);
            cursor: pointer;
            vertical-align: middle;
            margin-right: 1rem;
          }

          input[type="radio"]:checked + label::before {
            color: var(--wpe--color--grey);
            background-color: var(--wpe--color--grey);
            border-color: var(--wpe--color--grey);
          }
        }
      }
    }

    .wpforms-field-label {
      flex: 1;
      min-width: 100px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      gap: 0.1rem;
    }

    .wpforms-field-medium {
      border: 1px solid var(--wpe--color--grey);
      flex: 2;
      width: 100%;
      box-sizing: border-box;
      padding: 0.25rem;
      border-radius: 0;
      background-color: var(--wpe--color--white);
    }

    .wpforms-required-label {
      color: var(--wpe--color--red);
    }

    textarea {
      min-height: 10rem;
    }

    .wpforms-submit-container {
      width: 100%;
      text-align: right;
      margin-top: 2rem;

      .wpforms-submit {
        border: 1px solid var(--wpe--color--grey);
        text-align: center;
        font-size: 1rem;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        padding: 0.5rem 4rem;
      }
    }
  }
}
