@import "styles/breakpoints";

.component {
  background-color: var(--wpe--color--white);
}

.interscroller-wrapper {
  z-index: 0; // Adjusted to be above the transparent-div
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: calc(-3.063rem + 100vh);
  background-color: var(--wpe--color--light--grey);
  position: relative;
  width: 100%;

  @media (min-width: $breakpoint-medium) {
    display: none;
  }
}

.title-wrapper,
.scroll-down-wrapper {
  position: relative;
  padding: 0.5rem 0;
  width: 100%;
  text-align: center;
  background-color: var(--wpe--color--black);
  opacity: 0.8;
  z-index: 4; // Ensure these are above the interscroller banner
}

.title,
.scroll-down {
  color: var(--wpe--color--white);
  text-transform: uppercase;
}

.interscroller-banner {
  position: fixed;
  top: 50%;
  backface-visibility: hidden;
  transform: translate3d(0, -50%, 0);
}
