@import "styles/breakpoints";

.loading-wrapper {
  @apply mx-auto my-0 flex max-w-[100vw] justify-center lg:max-w-[1024px];
  position: relative;
  z-index: 2;
  background-color: var(--wpe--color--white);
}

.component {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  height: 50rem; // change this to make slider responsive
  position: relative;
  z-index: 2;
  background-color: var(--wpe--color--white);

  @media (min-width: $breakpoint-extra-small) {
    padding-bottom: 3.5rem;
    height: auto;
    aspect-ratio: 2 / 1.28064;
  }
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.slide-wrapper {
  display: inline-block;
  padding: 0;
  width: 100%;
  height: 100%;

  @media (min-width: $breakpoint-small) {
    // display: flex;
    // flex-wrap: wrap;
    // flex-direction: row-reverse;
  }
}

.image-wrapper {
  position: relative;
  aspect-ratio: 1 / 1;

  @media (min-width: $breakpoint-small) {
    position: absolute;
    right: 0;
    width: 60%;
    height: 100%;
  }
}

.text-wrapper {
  background-color: var(--wpe--color--black);
  color: var(--wpe--color--white);
  padding: 2rem 3rem 2rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  gap: 0.5rem;
  height: 50%;

  @media (min-width: $breakpoint-small) {
    width: 40%;
    height: 100%;
    gap: 1rem;
    padding: 0 4rem 0 6rem;
    justify-content: center;
  }
}

.featured-image {
  img {
    object-fit: cover;
    object-position: top;
  }
}

.features-wrapper {
  color: var(--wpe--color--red);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 136.688%;
  letter-spacing: 0.3rem;
  text-transform: uppercase;

  @media (min-width: $breakpoint-medium) {
    font-size: 1rem;
  }
}

.title-wrapper {
  font-weight: 700;
  letter-spacing: -0.02rem;
  font-size: 1.5rem;
  line-height: 2rem;

  @media (min-width: $breakpoint-medium) {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.excerpt-wrapper {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.35rem;
  letter-spacing: -0.01rem;
  text-transform: uppercase;

  @media (min-width: $breakpoint-medium) {
    font-size: 1rem;
  }
}

.meta-wrapper {
  display: inline-block;
  font-family: Georgia, serif;
  color: var(--wpe--color--grey);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 136.688%;
  letter-spacing: -0.01rem;

  @media (min-width: $breakpoint-medium) {
    font-size: 1rem;
  }
}

.view-more-wrapper {
  color: var(--wpe--color--red);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 136.688%;
  letter-spacing: 0.3rem;
  text-transform: uppercase;

  @media (min-width: $breakpoint-medium) {
    font-size: 1rem;
  }
}
