@import "styles/breakpoints";

.component {
  width: 100vw;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  background-color: var(--wpe--color--white);

  @media (min-width: $breakpoint-small) {
    width: 50%;
  }

  @media (min-width: $breakpoint-medium) {
    width: 40%;
    align-content: flex-end;
  }
}
