@import "styles/breakpoints";

.component {
  display: flex;
  flex-direction: column;
  height: auto;
  line-height: normal;
  width: 100%;
  gap: 1rem;
  align-items: center;
}

.subscribe-wrapper {
  position: relative;
  width: 300px;
  background-color: var(--wpe--color--black);
  color: var(--wpe--color--white);
}
