@import "styles/breakpoints";

.component {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 4rem;
  height: auto;
  line-height: normal;
  width: 100%;
}

.title-wrapper {
  padding: 0 1rem;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 800;

  @media (min-width: $breakpoint-medium) {
    padding: 0;
    font-size: 2rem;
    max-width: var(--wpe--container--max--width);
  }
}

.title {
  padding: 1rem 0 2rem;
}

.swiper-wrapper {
  width: 100vw;

  @media (min-width: $breakpoint-medium) {
    max-width: var(--wpe--container--max--width);
  }
}

.slide-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 0.5rem;
}

.slide-image-wrapper {
  position: relative;
  height: 10rem;
}

.slide-category-wrapper {
  font-size: 0.75rem;
  font-weight: 300;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
  padding: 0.75rem 0 0;
  text-align: left;
  line-height: 1.3;
}

.slide-title-wrapper {
  font-size: 1rem;
  font-weight: 700;
  padding: 0;
  text-align: left;
  line-height: normal;
}
