@import "styles/breakpoints";

.two-columns {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100vw;
  position: relative;
  z-index: 3;
  background-color: var(--wpe--color--white);

  @media (min-width: $breakpoint-small) {
    flex-direction: row;
  }

  @media (min-width: $breakpoint-medium) {
    max-width: var(--wpe--container--max--width);
  }
}
