@import "styles/breakpoints";

.component {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;

  @media (min-width: $breakpoint-extra-small) {
    width: 50%;
  }

  @media (min-width: $breakpoint-medium) {
    width: 60%;
  }
}
