@import "styles/breakpoints";

.component {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  background-color: var(--wpe--color--white);

  @media (min-width: $breakpoint-small) {
    width: 50%;
  }

  @media (min-width: $breakpoint-medium) {
    width: 60%;
  }
}
