@import "styles/breakpoints";

.mobile-component,
.desktop-component {
  width: 100vw;
  background-color: var(--wpe--color--offwhite);
  justify-content: center;
  padding: 1rem;
}

.mobile-component {
  display: flex;

  @media (min-width: $breakpoint-medium) {
    display: none;
  }
}

.desktop-component {
  display: none;

  @media (min-width: $breakpoint-medium) {
    display: flex;
  }
}

.masthead-wrapper {
  width: 300px;
  height: 250px;

  background-color: var(--wpe--color--offwhite);
  position: relative;

  @media (min-width: $breakpoint-medium) {
    width: 970px;
  }

  .mobile-banner {
    display: block;

    @media (min-width: $breakpoint-medium) {
      display: none;
    }
  }

  .desktop-banner {
    display: none;

    @media (min-width: $breakpoint-medium) {
      display: block;
    }
  }
}
