@import "styles/breakpoints";

.mobile-banner {
  display: block;

  @media (min-width: $breakpoint-medium) {
    display: none;
  }
}

.desktop-banner {
  display: none;

  @media (min-width: $breakpoint-medium) {
    display: block;
  }
}
