@import "styles/breakpoints";

.component {
  display: flex;
  flex-direction: column;
  padding: 0 0 2rem;
  height: auto;
  line-height: normal;
  width: 100%;
  gap: 1rem;
  position: relative;
  z-index: 2;
  background-color: var(--wpe--color--white);
}

.first-wrapper {
  background-color: var(--wpe--color--black);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem 0;
}

.other-wrapper {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.first-video-wrapper {
  padding: 0 1rem;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 800;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (min-width: $breakpoint-medium) {
    padding: 0;
    font-size: 2rem;
  }

  @media (min-width: $breakpoint-medium) {
    max-width: var(--wpe--container--max--width);
  }
}

.daman-tv-logo-wrapper {
  position: relative;
  width: 7rem;
  height: 4rem;

  img {
    object-fit: cover;
  }
}

.first-iframe-wrapper {
  width: 100%;
  padding: 0 1rem;

  iframe {
    width: 100%;
    height: 20rem;

    @media (min-width: $breakpoint-extra-small) {
      height: 25rem;
    }

    @media (min-width: $breakpoint-medium) {
      height: 30rem;
    }
  }
}

.first-title-wrapper {
  color: var(--wpe--color--white);
  padding: 0 1rem;
  text-align: center;
}

.other-video-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}

.other-image-wrapper {
  position: relative;
  height: 8rem;

  @media (min-width: $breakpoint-extra-small) {
    height: 10rem;
  }
}

.other-title-wrapper {
  color: var(--wpe--color--white);
  background-color: var(--wpe--color--black);
  box-sizing: border-box;
  padding: 1rem;
  font-weight: 700;
}
