@import "styles/breakpoints";

.mobile-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--wpe--color--offwhite);
  padding: 1rem 0;
  position: relative;
  z-index: 2;

  @media (min-width: $breakpoint-medium) {
    display: none;
  }
}

.desktop-banner {
  display: none;
  background-color: var(--wpe--color--offwhite);
  padding: 1rem 0;

  @media (min-width: $breakpoint-medium) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.masthead-banner {
  display: contents;
}
