.mobile-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--wpe--color--offwhite);
  padding: 1rem 0;
  position: relative;
  z-index: 5;
}

.masthead-banner {
  display: contents;
}
