@import "styles/breakpoints";

.halfpage-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.halfpage-banner {
  display: contents;
}
