@import "styles/breakpoints";

.component {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  background-color: var(--wpe--color--white);

  @media (min-width: $breakpoint-medium) {
	padding: 0;
    max-width: var(--wpe--container--max--width);
  }
}

.border {
  border-bottom: 0.313rem solid var(--wpe--color--black);
}
