@import "styles/breakpoints";

.component {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 2rem;
  height: auto;
  line-height: normal;
  width: 100%;
}

.mobile-wrapper {
  display: block;
  width: 100vw;

  @media (min-width: $breakpoint-small) {
    display: none;
  }
}

.desktop-wrapper {
  display: none;

  @media (min-width: $breakpoint-small) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
  }
}

.title-wrapper {
  padding: 0 1rem;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 800;

  @media (min-width: $breakpoint-medium) {
    padding: 0;
    font-size: 2rem;
  }

  @media (min-width: $breakpoint-medium) {
    max-width: var(--wpe--container--max--width);
  }
}

.title {
  padding: 1rem 0 2rem;
}

.carousel-swiper-wrapper {
  width: 100%;
}

.slide-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 0.5rem;
}

.slide-image-wrapper {
  position: relative;
  height: 10rem;
}

.slide-category-wrapper {
  font-size: 0.65rem;
  font-weight: 300;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
  padding: 0.75rem 0 0;
  text-align: left;
  line-height: 1.3;
}

.slide-title-wrapper {
  font-size: 1rem;
  font-weight: 700;
  padding: 0;
  text-align: left;
  line-height: 1.1;
}

.post-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: calc(-1rem + 50%);
  height: auto;
  padding: 0 1rem 1rem;
  gap: 0.25rem;

  @media (min-width: $breakpoint-medium) {
    padding: 0 0 3rem;
  }
}

.post-image-wrapper {
  position: relative;
  height: 20rem;

  img {
    object-fit: cover;
    object-position: top;
  }
}

.post-category-wrapper {
  font-size: 0.75rem;
  font-weight: 300;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
  padding: 1rem 0 0;
  text-align: left;
}

.post-title-wrapper {
  font-size: 2rem;
  font-weight: 700;
  padding: 0;
  text-align: left;
  line-height: 1;
  padding: 0.5rem 0;
}

.post-excerpt-wrapper {
  font-size: 1rem;
  font-weight: 400;
  padding: 0;
  text-align: left;
}

.view-more-wrapper {
  color: var(--wpe--color--red);
  padding: 2rem 1rem 0;
  width: 100%;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $breakpoint-medium) {
    padding: 2rem 0 0;
    font-size: 1rem;
    max-width: var(--wpe--container--max--width);
    text-align: left;
  }
}
